
                        Home Purchase
                        =============

                             Purchase: ${{ purchase }}
Land transfer tax (Toronto + Ontario): ${{ land_transfer_tax }}
                           Lawyer fee: ${{ purchase_lawyer_fee }}
                      Title insurance: ${{ title_insurance }}

                                 Sale: ${{ sale }}
               Real estate commission: ${{ commission }}
        Tax on real estate commission: ${{ commission_tax }}
                           Lawyer fee: ${{ sale_lawyer_fee }}

                 Outstanding mortgage: ${{ outstanding_mortgage }}
                     Mortgage penalty: ${{ mortgage_penalty }}
----------------------------------------------------------------
                         New mortgage: ${{ principal }}
                        Interest rate: {{ interest_rate }}%
                  Amortization period: {{ amortization_period }}
----------------------------------------------------------------
                      Monthly payment: ${{ payment }}
